@page "/report"
@page "/report/{reportID}"
@layout DashboardLayouts;

<div style="width:1300px;height:800px">
    @if (!string.IsNullOrEmpty(this.CurrentReportUrl))
    {
        <iframe  width="700" height="1000"  src="@CurrentReportUrl"></iframe>
    }
    else
    {
        <p>Select a report to view</p>
    }
</div>


@code {

    [Parameter] public string reportID { get; set; } = string.Empty;

    private string CurrentReportUrl = string.Empty;

    protected override async Task OnInitializedAsync()
    {

    }

    protected async override Task OnParametersSetAsync()
    {
        await LoadData();
        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadData()
    {
        try
        {
            if (!string.IsNullOrEmpty(this.reportID))
            {
                this.CurrentReportUrl = "https://app.powerbi.com/view?r=eyJrIjoiMjk4OTUxMGUtYjBjMS00YWEyLWEwZmUtMTVkNGI0M2EwZWQxIiwidCI6IjQ5NTM2MmE3LTQxMjItNDQ0OC1iNGU2LTIxYzQzZTRiZjRmZCJ9";
            }
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }



}
