@using Wassandashboard.Components.Pages.HomeDashboard
@using static Wassandashboard.Data.Models.Enums.CommonEnums
@inject NavigationManager _navigation
@inherits LayoutComponentBase



<div class="page" style="display: flex; height: 100vh;">
    <div class="sidebar">
        <DashboardSideBar PrivateOrPublic="@ProjectVisibility.Public.ToString()"></DashboardSideBar>
    </div>

    <main style="flex: 1; display: flex; flex-direction: column;">
        <div class="top-row px-4" style="height: 55px;">
            <button class="btn btn-link" @onclick="loadLogin">Login</button>
        </div>
        <article class="content px-3" style="background-color: #f0f1f6; height: calc(100vh - 55px);">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void loadLogin()
    {
        _navigation.NavigateTo("/Account/Login", true);
    }
}