@using Wassandashboard.Components.Pages.HomeDashboard
@using static Wassandashboard.Data.Models.Enums.CommonEnums
@inherits LayoutComponentBase

<TopNavBar></TopNavBar>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar" style="margin-top:63px;">
@*                 <DashboardSidebar PrivateOrPublic="@ProjectVisibility.Private.ToString()"></DashboardSidebar>
 *@            </div>
        </Authorized>
    </AuthorizeView>

    <main class="content-wrapper px-4">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
