@using Wassandashboard.Components.Pages.HomeDashboard
@using static Wassandashboard.Data.Models.Enums.CommonEnums
@inherits LayoutComponentBase

<TopNavBar></TopNavBar>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar-container">
                <DashboardSideBar PrivateOrPublic="@ProjectVisibility.Private.ToString()"></DashboardSideBar>
            </div>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <NotAuthorized>
            <div class="sidebar-container">
                <DashboardSideBar PrivateOrPublic="@ProjectVisibility.Public.ToString()"></DashboardSideBar>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    <main class="content-wrapper">
        <article class="content py-3 " style="background-color: #f0f1f6; height:100%">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>