@using Wassandashboard.Components.Pages.HomeDashboard
@using static Wassandashboard.Data.Models.Enums.CommonEnums
@inherits LayoutComponentBase

<div class="page" style="display: flex; height: 100vh;">

    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <Dashboardprivate PrivateOrPublic="@ProjectVisibility.Private.ToString()"></Dashboardprivate>
            </div>
        </Authorized>
    </AuthorizeView>

    <main style="flex: 1; display: flex; flex-direction: column;">

        <!-- Top nav bar -->
        <div class="top-row px-4">
            <TopNavBar />
        </div>

        <!-- Main content area -->
        <article class="content px-3" style="background-color: #f0f1f6; height: calc(100vh - 55px);">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
