@inherits LayoutComponentBase
@layout Wassandashboard.Components.Layout.MainLayout

<div class="card p-3 mt-5">

    <h4 class="px-4">Administrator</h4>
    <hr />

    <div class="row d-flex justify-content-center gap-3">
        <div class="card col-4" style="background-color:cadetblue; text-align: left; padding: 10px;">
            <button class="btn text-white btn-sm w-100" @onclick="@(e => _navigation.NavigateTo("/users"))">
                Users
            </button>
        </div>
        <div class="card col-4" style="background-color:darkolivegreen; text-align: left; padding: 10px;">
            <button class="btn text-white btn-sm w-100" @onclick="@(e => _navigation.NavigateTo("/roles"))">
                Roles
            </button>
        </div>
    </div>


    @Body
</div>

@code {
}