@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Wassandashboard.Data.Entities

@inject ApplicationDbContext _context
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Role" OnValidSubmit="AddRole">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <span>Note: Roles will start with Wassandashboard-</span>
                <InputText id="name" @bind-Value="Role.Name" class="form-control" />
                <ValidationMessage For="() => Role.Name" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

@code {
    public IdentityRole Role { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        Role = new IdentityRole();
    }

    public async Task AddRole()
    {
        Role.Name = $"Wassandashboard-{Role.Name}";
        await RoleManager.CreateAsync(Role);
        NavigationManager.NavigateTo("/roles", true);
    }
}
