@page "/projects/create"

@using Microsoft.EntityFrameworkCore
@using Wassandashboard.Data.Entities
@inject IDbContextFactory<Wassandashboard.Data.DashboardDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-12">
        <EditForm method="post" Model="project" OnValidSubmit="AddOrganization" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Name">Project Name<span class="text-danger">*</span></label>
                        <InputText id="Name" class="form-control" @bind-Value="project.Name" />
                        <ValidationMessage For="@(() => project.Name)" />
                    </div>
                </div>
               
            </div>                   
            <div class="row mt-4">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary float-end">Create</button>
                </div>
                <div class="col-md-6">
                    <a href="/projects" class="btn btn-secondary">Close</a>
                </div>
            </div>
        </EditForm>
    </div>
</div>



@code {
    DashboardDbContext context = default!;
    [SupplyParameterFromForm]
    public Projects project { get; set; } = new(); 
    private EditContext editContext;


    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(project);
        context = DbFactory.CreateDbContext();        
    }

    public async Task AddOrganization()
    {
        if (!editContext.Validate())
        {
            return;
        }
        using var context = DbFactory.CreateDbContext();
        context.Projects.Add(project);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects", true);
    }
}
