@inherits LayoutComponentBase
@layout AccountLayout

<h4 class="px-4">Manage your account</h4>
<hr/>
<div>
    <h6 class="px-4">Change your account settings</h6>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
