@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="d-flex justify-content-center align-items-center" style="margin-top:200px;">
    <div>
        <h1 class="text-danger">Access denied</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>
